# Copyright 2019 Tricot Inc.
# Use of this source code is governed by the license in the LICENSE file.

menu "WS (WebSocket) client test configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) of the WiFi network to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "mypassword"
	help
		WiFi password (WPA or WPA2) for the WiFi network to connect to. Leave blank for no security.

config MAIN_AUTOBAHN_SERVER_BASE_URL
    string "Autobahn fuzzingserver base URL"
    default "ws://my_address:9001"
    help
        Base (WebSocket) URL for the Autobahn WebSocket Fuzzing Server (fuzzingserver), not
        including any path (or even any trailing slash). It is usually ws://<server address>:9001.

config MAIN_IDLE_SLEEP_MS
    int "Idle sleep time in milliseconds (default: 10)"
    default 10
    range 0 1000
    help
        Idle sleep time in milliseconds. You shouldn't need to change this, typically.

endmenu
