# Copyright 2019 Tricot Inc.
# Use of this source code is governed by the license in the LICENSE file.

menu "XSP event loop"

config XSP_LOOP_DEFAULT_POLL_TIMEOUT_MS
    int "Default poll timeout in milliseconds (default 0)"
    default 0
    range 0 1000000000
    help
        The default poll timeout for a XSP WS client loop.

endmenu
